@media (max-width: 767px) {
  #game,
  #pregame,
  #blog {
    display: none;
  }
  #nongame {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-bottom: 2px solid #555555;
  }
  html {
    overflow: hidden;
  }
  #nongame {
    display: none;
  }
}
#game {
  width: 2000px;
  height: 1000px;
  margin: 68px auto 0 auto;
  background: url('../img/office_bg.jpg');
  cursor: pointer;
}
#game #pregame {
  width: 100%;
  height: 100%;
  background: #222;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 68px;
  z-index: 999;
  cursor: default;
}
#game #pregame .instructions {
  width: 640px;
  margin: 40px auto;
  color: white;
}
#game #pregame .instructions h2 {
  color: #f89406;
}
#game #pregame .instructions p {
  margin: 20px 0;
  font-size: 1.2em;
  line-height: 1.4;
}
#game #pregame .instructions p.playGame {
  margin: 40px;
  text-align: center;
}
#game #pregame .instructions p.loading {
  display: none;
  margin: 40px;
  text-align: center;
}
#game .item {
  cursor: pointer;
  z-index: 2;
}
#game .person {
  cursor: pointer;
  z-index: 1;
}
#game .fgPerson {
  z-index: 4;
}
#game .fgItem {
  z-index: 5;
}
#game .hitItem {
  cursor: pointer;
  z-index: 4;
}
#game #player {
  z-index: 3;
  cursor: pointer;
}
#game #message {
  display: none;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  border: 2px solid #333333;
  width: auto;
}
#game #message .messageText {
  padding: 10px 10px;
  margin: 0;
  cursor: default;
  font-family: 'Inconsolata', Monaco, Menlo, Consolas, "Courier New", monospace;
  line-height: 1.2;
  text-align: center;
}
#game #message .soundcloud {
  padding: 0 15px 10px 15px;
}
#game #message .soundcloud p {
  padding: 0;
  margin: 0;
}
#game #bioCard {
  display: none;
  position: fixed;
  padding: 0;
  top: 200px;
  left: 50%;
  margin-left: -240px;
  width: 480px;
  z-index: 100;
  background: #ffffff;
  border: 2px solid #333333;
}
#game #bioCard p {
  margin: 10px;
}
#game #bioCard img {
  margin: 10px;
  float: left;
  border-radius: 100px;
}
#game #whiteboardCanvas {
  cursor: crosshair;
}
#blog {
  z-index: 998;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  margin: 0;
  padding-right: 20px;
  top: 70px;
  right: 0;
  border: 2px solid #555555;
  border-top: none;
  display: none;
  width: 300px;
}
#blog ul li {
  list-style: none;
  margin: 0;
}
#blog a {
  text-decoration: none;
}
#nongame {
  margin: 20px 0 0 0;
}
#nongame .row-fluid {
  border: 2px solid #ffffff;
}
#nongame .row-fluid .span4 {
  color: #ffffff;
  height: 70px;
  background: #555555;
  cursor: pointer;
}
#nongame .row-fluid .span4 p {
  padding-top: 20px;
  text-align: center;
}
#nongame .row-fluid .projectsLink {
  background: #46a546;
}
#nongame .row-fluid .researchLink {
  background: #ff0000;
}
#nongame .row-fluid .aboutLink {
  background: #f89406;
}
#nongame .row-fluid .blogLink {
  background: #7a43b6;
}
.devDirtyBound {
  background: rgba(0, 0, 255, 0.3);
}
.devHitBoundP {
  background: rgba(255, 255, 0, 0.4);
}
