html {
	overflow: hidden;
	background: @color4;
}
#gameboard {
	width: 2000px;
	height: 1000px;
	position: relative;
	background: url(../img/grid.png);
}
#player {
	width:80px;
	height:160px;
	position:absolute;
	background: url(../img/player.png);
	background-position: -640px;
}
#tree1 {
	width:180px;
	height:400px;
	position:absolute;
	top:300px;
	left: 1400px;
	background: url(../img/livetree.png);
}

#tree2 {
	width:180px;
	height:400px;
	position:absolute;
	top:500px;
	left: 400px;
	background: url(../img/livetree.png);
}