* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	overflow: hidden;
	background: @color4;
}
#blog {
	position: absolute;
	right: 0;
	top: 64px;
	width: 200px;
	height: 200px;
	background: rgba(50,50,50,0.5);
}
#gameboard {
	width: 1920px;
	height: 1080px;
	position: relative;
	background: url(../img/grid.png);
}
#player {
	width:80px;
	height:160px;
	position:absolute;
	background: url(../img/player.png);
	background-position: -640px;
	cursor: pointer;
}
.dev {
	background: rgba(255,0,0,0.5);
}
.item {
	cursor: pointer;
}