.pics {
	width: 90%;
	margin:0 auto;
	padding-top: 40px;
	cursor: pointer;
}
.pics img {
	margin: 10px;
	border-radius: 10px;
	width: 240px;
}
.caption {
	margin: 0;
	position: fixed;
	background: #555;
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.2;
	font-family: Helvetica, sans-serif;
	width: auto;
	top: 0;
	padding: 10px;
}

.caption span {
	color: red;
}