#game {
	width:2000px;
	height: 1000px;
	margin: 0 auto;
	// background: url('../img/replace');
	background: rgba(250,200,150,0.5);
}

#pregame {
	width: 400px;
	height: 200px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #f5f5f5;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	background-color: red;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -100px;
	p {
		text-align: center;
	}
}