* {
	.box-sizing();
}
//ADJUST NAV FOR BIGGER SIZE
.navbar .nav {
	margin-top: 12px;
}
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(0px); // Vertically center in navbar
  background: #333;
  &:hover {
  	background: #666;
  }
}

@media (min-width: 768px) {
	//show dropdown on hover
	ul.nav li.dropdown:hover ul.dropdown-menu {
	    display: block;
	    top: 99%;
	}
}

@media (max-width: 1040px) {
	.tagline {
		display: none;
	}
}

.btn {
	border: none;
}

@media (max-width: 767px) {
	.nav li {
		text-align: center;
	}
}

//toggle branding image from gray to color
.navbar .brand {
	padding: 10px;
	img {
		-webkit-filter: grayscale(0%);
		&:hover {
			-webkit-filter: grayscale(100%);
			.transition(-webkit-filter 0.5s);
		}
	}

}

.tagline {
	float: right;
	font-weight: 100;
	letter-spacing: .1em;
	font-size: .9em;
	margin: 31px 0 0 0;
	color: @gray;
}

//custom mixins
.box-sizing() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

//disable the triangle on the dropdown
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
  content: none;
}

//fixed margins and padding for dropdown menu
.dropdown-menu {
	padding: 0;
	margin: -10px 15px;
	// border: 2px solid @grayDark;
	background: @gray;
	border: none;
	li > a { 
		padding: 10px 20px;
		color: @white;
	}
}

#blog {
	ul li {
		list-style: none;
		margin: 20px 0 40px 0;
	}
	iframe {
		width: 80%;
		max-width: 640px;
		min-width: 300px;
	}
	h4 {
		color: @headerColor;
		font-size: 1.8em;
		font-weight: 800;
		text-align: center;
		line-height: 1;
		margin: 10px;
	}
	.date {
		text-align: center;
		color: @grayLight;
	}
}

//---------- foooter -----------
#footer {
	h3 {
		font-size: 1.4em;
	}
	i  {
		padding: 10px;
	}
	a:hover {
		text-decoration: none;
	}
	.span4 {
		h3 {
			text-align: center;
		}
	}
	
	.socialMedia {
		text-align: center;
	}

}
// ---------------- ABOUT PAGE ------------
#mission {
	.missionBody {
		h1,h2,h3 {
			color: @greenLight;
		}
		background: @greenDark;
		color: @white;
		padding: 5px 30px;
	}	
}
#people {
	.person {
		p {
			text-align: center;
			font-size: 1em;
		}
		p:nth-child(2) {
			font-weight: 700;
			color: @grayDark;
		}
		p:nth-child(4) {
			text-align: left;
			color: @gray;
		}
	}
	.headshot {
		border-radius: 96px;
	}

}

//modifications of original boostrap
h1,h2,h3 {
	line-height: @baseLineHeight;
	color: @green;
}
p {
	font-size: 1.4em;
	font-weight: 300;
}
a {
	font-weight: 700;
	font-size: .9em;
	letter-spacing: .1em;
	&:hover {
		text-decoration: none;
	}
}
.btn {
	color: @white;
	text-shadow: none;
	font-weight: 700;
	letter-spacing: .1em;
	&:hover {
		color: @white;
	}
}