.no-highlight() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@zMessage: 100;
@aboveAll0: 999;
@aboveAll1: 998;
@belowPlayer: 10;
@import 'custom-variables.less';
@media (max-width: 767px) {
	#game, #pregame, #blogTease {
		display: none;
	}
	#nongame {
		display: block;
	}
}

@media (min-width: 768px) {
	html {
		overflow: hidden;
	}
	#nongame {
		display: none;
	}
}

#game {
	.no-highlight();
	width:2800px;
	height: 1000px;
	margin: 0 auto 0 auto;
	background: url('../img/office_bg.jpg') no-repeat 0 0;
	background-size: cover;
	cursor: pointer;
	position: relative;
	#pregame {
		width: 100%;
		height: 100%;
		background: #222;
		background: fade(@greenDarkest, 85%);
		position: fixed;
		top: 80px;
		z-index: @aboveAll0;
		cursor: default;
		.instructions {
			h2 {
				font-weight: 900;
				font-size: 3.7em;
				color: @greenLighter;
				line-height: 1;
				margin: 0;
			}
			
			// width: 60%;
			// max-width: 800px;
			// min-width: 420px;
			width: 720px;
			margin: 40px auto;
			color: #eee;
			p {
				margin: 20px 0;
				font-weight: 300;
			}
			p.enter {
				margin: 0 0 -16px 90px;
				font-weight: 400;
				font-size: 1.8em;
			}
			p.description {
				text-align: right;
				font-weight: 100;
				font-size: 1.3em;
				margin: 0;
			}
			p.playGame {
				margin: 40px;
				text-align: center;
				a {
					background: @white;
					font-size: 1.4em;
					letter-spacing: .1em;
					font-weight: 900;
					color: @red;
					padding: 54px 26px;
					border-radius: 100px;
					border: 8px solid @greenLighter;
					span {
						font-style: italic;
					}
					&:hover {
						background: @redLightest;
						color: @redDarker;
					}
				}
			}
			p.loading {
				display: none;
				margin: 40px;
				text-align: center;
			}
			p.howTo {
				font-size: 1em;
				text-align: center;
				color: @greenLighter;
			}
		}
	}
	.item {
		cursor: pointer;
		z-index: 2;
		// background: rgba(255,0,0,0.4); //DEV_MODE
	}
	.person {
		cursor: pointer;
		z-index: 1;
		// background: rgba(255,0,0,0.4); //DEV_MODE
	}
	.fgPerson {
		z-index: 4;
		// background: rgba(0,255,0,0.4); //DEV_MODE
	}
	.fgItem {
		z-index: 5;
		// background: rgba(0,255,0,0.4); //DEV_MODE
	}
	.hitItem {
		cursor: pointer;
		z-index: 4;
	}
	#player {
		z-index: 3;
		cursor: pointer;
	}
	#message {
		display: none;
		position:absolute;
		padding: 0;
		top: 0;
		left: 0;
		z-index: @zMessage;
		background: @white;
		border: 2px solid @grayDark;
		width: auto;
		.messageText {
			padding: 10px 10px;
			margin: 0;
			cursor: default;
			font-family: @monoFontFamily;
			font-size: 1em;
			text-align: center;
		}
		.soundcloud {
			padding: 0 15px 10px 15px;
			p {
				padding: 0;
				margin: 0;
				font-size: .8em;
			}
		}
	}
	#bioCard {
		display: none;
		position: fixed;
		padding: 0;
		top: 200px;
		left: 50%;
		margin-left: -240px;
		width: 480px;
		z-index: @zMessage;
		background: @white;
		border: 2px solid @grayDark;
		p {
			margin: 10px;
			font-size: 1em;
		}
		img {
			margin: 10px;
			float: left;
			border-radius: 100px;
		}
	}
	#whiteboardCanvas {
		cursor: crosshair;
	}
}

#blogTease {
	z-index: @aboveAll1;
	background: @alphaGray;
	position: fixed;
	margin: 0;
	padding-right: 20px;
	top: 80px;
	right: 0;
	display: none;
	width: 300px;
	color: @white;
	h4 {
		margin: 10px 0;
	}
	ul {
		margin: 0 0 0 25px;
		li {
			list-style: none;
			margin: 0;
		}
	}
	a {
		text-decoration: none;
	}
	p {
		margin: 5px 0 20px 0;
		font-size: 1em;
	}
}

#nongame {
	margin: 20px 0 0 0;
	.row-fluid {
		border: 2px solid @white;
		.span4 {
			color: @white;
			height: 70px;
			background: @gray;
			cursor: pointer;
			p {
				padding-top: 20px;
				text-align: center;
			}
		}
		.projectsLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @green;
		}
		.researchLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @red;
		}
		.aboutLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @orange;
		}
		.blogLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @purple;
		}
	}
}

.devDirtyBound { //blue for area
	background: rgba(0,0,255,0.3);
}
.devHitBoundP { //yellow for player
	background: rgba(255,255,0,0.4);	
}
// .devBottomBound {
// 	border-bottom: 20px solid rgba(255,255,255,0.8);
// }


//special animation test
#cloud0 {
	-webkit-animation: 20s cloudZero infinite linear;
	background-position-x: -85px;
	@-webkit-keyframes cloudZero {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud1 {
	-webkit-animation: 20s cloudOne infinite linear 30s;
	background-position-x: -85px;
	@-webkit-keyframes cloudOne {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud2 {
	background-position-x: -85px;
	-webkit-animation: 20s cloudTwo infinite linear 60s;
	@-webkit-keyframes cloudTwo {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud3 {
	background-position-x: -85px;
	-webkit-animation: 20s cloudThree infinite linear 90s;
	@-webkit-keyframes cloudThree {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}