.no-highlight() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@zMessage: 100;
@aboveAll0: 999;
@aboveAll1: 998;
@belowPlayer: 10;
@import 'custom-variables.less';

#game {
	.no-highlight();
	width:2800px;
	height: 1000px;
	margin: 0 auto 0 auto;
	background: url('../img/office_bg.jpg') no-repeat 0 0;
	background-size: cover;
	cursor: pointer;
	position: relative;
	#pregame {
		width: 100%;
		height: 100%;
		// background: #222;
		// background: fade(@greenDarkest, 85%);
		position: fixed;
		top: 80px;
		z-index: @aboveAll0;
		cursor: default;
		.leftHalf {
			width: 50%;
			float: left;
			background: white;
			height: 100%;
			color: @gray;
			span {
				color: @red;
			}
		}
		.rightHalf {
			color: white;
			// color: @red;
			width: 50%;
			background: fade(@red, 80%);
			float: left;
			height: 100%;
		}
		.introText {
			max-width: 500px;
			width: 80%;
			margin: 0 auto;
			margin-top: 80px;
		}
		.specialLink {
			width: 100px;
			margin: 0 auto;
			font-weight: 800;
		}
		.playBig {
			width: 200px;
			margin: 0 auto;
			font-size: 4em;
			font-weight: 800;
			letter-spacing: 0.2em;
			margin-top: 60px;
			a {
				color: white;
				&:hover {
					color: @redLighter;
				}
			}
		}
	}
	.item {
		cursor: pointer;
		z-index: 1;
		// background: rgba(255,0,0,0.4); //DEV_MODE
	}
	.person {
		cursor: pointer;
		z-index: 2;
		// background: rgba(255,0,0,0.4); //DEV_MODE
	}
	.fgPerson {
		z-index: 5;
		// background: rgba(0,255,0,0.4); //DEV_MODE
	}
	.fgItem {
		z-index: 4;
		// background: rgba(0,255,0,0.4); //DEV_MODE
	}
	.hitItem {
		cursor: pointer;
		z-index: 4;
	}
	#player {
		z-index: 3;
		cursor: pointer;
	}
	#help {
		display: none;
		position: fixed;
		padding: 0;
		top: 50%;
		left: 50%;
		margin-left: -180px;
		margin-top: -150px;
		width: 360px;
		z-index: @zMessage;
		// background: fade(@greenDarkest, 85%);
		background: rgba(255,255,255,0.9);
		border: 4px solid @greenLighter;
		p {
			color: @white;
			color: @greenDarker;
			margin: 10px;
			font-size: 1.3em;
			font-weight: 100;
			text-align: center;
		}
	}
	#message {
		display: none;
		position:absolute;
		padding: 0;
		top: 0;
		left: 0;
		z-index: @zMessage;
		// background: fade(@greenDarkest, 85%);
		background: rgba(255,255,255,0.9);
		border: 4px solid @greenLighter;
		width: auto;
		.messageText {
			color: @white;
			color: @greenDarker;
			padding: 10px 10px;
			margin: 0;
			cursor: default;
			font-family: @monoFontFamily;
			font-size: 1em;
			text-align: center;
			a {
				background: @red;
				border-radius: 5px;
				padding: 5px;
				cursor: pointer;
				letter-spacing: 0;
				color: white;
			}
		}
	}
	#popupBox {
		display: none;
		position: fixed;
		padding: 0;
		top: 50%;
		left: 50%;
		margin-left: -320px;
		margin-top: -150px;
		width: 640px;
		z-index: @zMessage;
		// background: fade(@greenDarkest, 85%);
		background: rgba(255,255,255,0.9);
		border: 4px solid @greenLighter;
		p {
			color: @white;
			color: @greenDarker;
			margin: 10px;
			font-size: 1.3em;
			font-weight: 100;
		}
		.bio {
			p {
				color: @greenLightest;
				color: @greenDarkest;
				font-weight: 900;	
				letter-spacing: .2em;
			}
			p span {
				font-weight: 100;
				letter-spacing: .1em;
			}
		}
		.soundcloud {
			padding: 10px;
			p {
				text-align: center;
				padding: 2px 0;
				margin: 0;
				a {
					color: @redLightest;
				}
			}
			.user {
				color: @greenLightest;
			}
		}
		.bioImage {
			width: 96px;
			border-radius: 48px;
			margin: 0 10px;
			float: left;
		}
		.beginGame {
			border-radius: 5px;
			background: @red;
			color: white;
			padding: 8px;
		}
	}
	#challengeBox {
		display: none;
		position: fixed;
		padding: 0;
		top: 200px;
		left: 50%;
		margin-left: -360px;
		width: 720px;
		z-index: @zMessage;
		background: fade(@greenDarkest, 85%);
		background: rgba(255,255,255,0.9);
		border: 4px solid @greenLighter;
		p {
			color: @white;
			color: @greenDarker;
			margin: 10px;
			font-size: 1.3em;
			font-weight: 100;
		}
	}
	#whiteboardCanvas {
		cursor: crosshair;
	}
}

#cover {
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
	background: rgba(0,0,0, 0.3);
}
#blogTease {
	z-index: @aboveAll1;
	background: @alphaGray;
	position: fixed;
	margin: 0;
	padding-right: 20px;
	top: 80px;
	right: 0;
	display: none;
	width: 300px;
	color: @white;
	h4 {
		margin: 10px 0;
	}
	ul {
		margin: 0 0 0 25px;
		li {
			list-style: none;
			margin: 0;
		}
	}
	a {
		text-decoration: none;
	}
	p {
		margin: 5px 0 20px 0;
		font-size: 1em;
	}
}

#nongame {
	margin: 20px 0 0 0;
	.row-fluid {
		border: 2px solid @white;
		.span4 {
			color: @white;
			height: 70px;
			background: @gray;
			cursor: pointer;
			p {
				a {
					color: @white;	
					display: block;
					padding: 20px;
				}
				text-align: center;
				font-weight: 800;
				letter-spacing: .1em;
			}
		}
		.projectsLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @green;
		}
		.researchLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @greenDarker;
		}
		.aboutLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @greenDarkest;
		}
		.blogLink {
			// background: url(http://2.bp.blogspot.com/-3y9SL7PvwV0/TWY08s-mS0I/AAAAAAAABH8/zT4Ye2boCm0/s1600/goat_1.jpg) no-repeat center center;
			// background-size: cover;
			background: @greenSuperDarkest;
		}
	}
}
#nongameH {
	display: none;
	p {
		span {
			font-weight: 700;
		}
		font-weight: 100;
		color: @white;
	}
}
.devDirtyBound { //blue for area
	background: rgba(0,0,255,0.3);
}
.devHitBoundP { //yellow for player
	background: rgba(255,255,0,0.4);	
}
// .devBottomBound {
// 	border-bottom: 20px solid rgba(255,255,255,0.8);
// }


//special animation test
#cloud0 {
	-webkit-animation: 20s cloudZero infinite linear;
	background-position-x: -85px;
	@-webkit-keyframes cloudZero {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud1 {
	-webkit-animation: 20s cloudOne infinite linear 30s;
	background-position-x: -85px;
	@-webkit-keyframes cloudOne {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud2 {
	background-position-x: -85px;
	-webkit-animation: 20s cloudTwo infinite linear 60s;
	@-webkit-keyframes cloudTwo {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}
#cloud3 {
	background-position-x: -85px;
	-webkit-animation: 20s cloudThree infinite linear 90s;
	@-webkit-keyframes cloudThree {
		from {
			background-position-x: -85px;
		}
		to {
			background-position-x: 193px;
		}
	}
}

//general hiding class
.offscreen {
	display: none;
}

@media (max-width: 767px) {
	#game, #pregame, #blogTease, #nongameH {
		display: none;
	}
	#nongame {
		display: block;
	}
}

@media (min-width: 768px) {
	html {
		overflow: hidden;
	}
	#nongame {
		display: none;
	}
}

@media (max-height: 540px) and (min-width: 768px) {
	#game, #pregame, #blogTease, #nongame {
		display: none;
	}
	#nongameH {
		display: block;
	}
	body {
		background: @green;
	}
}
