* {
	.box-sizing();
}
//ADJUST NAV FOR BIGGER SIZE
.navbar .nav {
	margin-top: 12px;
}
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(-10px); // Vertically center in navbar
  background: @grayDark;
  &:hover {
  	background: @gray;
  }
}

@media (min-width: 768px) {
	//show dropdown on hover
	ul.nav li.dropdown:hover ul.dropdown-menu {
	    display: block;
	    top: 99%;
	}
	.navbar {
		border-bottom: 1px solid @gray;
		// box-shadow: 0 2px 8px 0 rgba(50,50,50,0.15);
	}
}

@media (max-width: 1080px) {
	.tagline {
		display: none;
	}
}

.btn {
	border: none;
}

@media (max-width: 767px) {
	.nav li {
		text-align: center;
	}
	.navbar-static-top {
		margin: 0;
	}
}

//toggle branding image from gray to color
.navbar .brand {
	padding: 10px;
	img {
		-webkit-filter: grayscale(0%);
		&:hover {
			-webkit-filter: grayscale(100%);
			.transition(-webkit-filter 0.5s);
		}
	}

}

.tagline {
	float: right;
	font-weight: 100;
	letter-spacing: .2em;
	font-size: .9em;
	margin: 31px 0 0 0;
	color: @gray;
}

//custom mixins
.box-sizing() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

//disable the triangle on the dropdown
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
  content: none;
}

//fixed margins and padding for dropdown menu
.dropdown-menu {
	padding: 0;
	margin: -10px 15px;
	// border: 2px solid @grayDark;
	background: @gray;
	border: none;
	li > a { 
		padding: 10px 20px;
		color: @white;
	}
}


//------------ blog scthuff-------
#blog {
	display: none;
}

.blogContainer {
	margin-bottom: 100px;
	p {
		padding: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.postImage {
		margin-top: 40px;
	}
	.postDate {
		font-weight: 700;
	}
	.postTitle {
		font-size: 1em;
		padding-bottom: 10px;
		border-bottom: 1px dashed @gray;
	}
	.post {
		margin-bottom: 20px;
		p {
		font-weight: 100;
		}
		border-bottom: 1px dashed @gray;
		padding-bottom: 40px;
	}
}



//---------- foooter -----------
#footer {
	background: @greenDarkest;
	color: @white;
	text-align: center;
	h3 {
		margin: 20px 0 5px 0;
		line-height: 1;
		color: @greenLighter;
	}
	p {
		margin: 5px;
	}
	i  {
		padding: 10px;
	}
	.social p {
		font-size: 1em;
		margin: 10px;
		span {
			font-weight: 700;
			color: @greenLighter;
		}
	}
}
// ---------------- ABOUT PAGE ------------
#whatwedo {
	width: 100%;
	background: @greenDarker;
	padding-bottom: 60px;
	.whatwedoBody {
		min-width: 320px;
		max-width: 960px;
		width: 85%;
		margin: 35px auto;
		p {
			font-weight: 100;
		}
		h1,h2,h3 {
			color: @greenLighter;
		}
		color: @greenLightest;
		.bigIdea {
			font-size: 2.2em;
			font-weight: 100;
			a {
				color: @white;
				font-weight: 300;
			}
		}
	}	
}
#people {
	// margin-top: 20px;
	.person {
		margin-bottom: 20px;
		p {
			text-align: center;
			font-size: 1em;
		}
		p:nth-child(2) {
			font-weight: 700;
			color: @grayDark;
		}
		.collapse {
			p {
				text-align: left;
				color: @gray;	
			}
			p:nth-child(2) {
				text-align: center;
			}
		}
	}
	.headshot {
		border-radius: 96px;
		border: 4px solid @greenLightest;
		cursor: pointer;
	}
	.trigger {
		cursor: pointer;
	}
}
#press {
	h2 {
		font-size: 3em;
		text-align: center;
	}
	.article {
		span {
			font-weight: 700;
		}
	}
	.quote {
		font-size: 1.1em;
	}
	.morePressButton {
		text-align: center;
		button {
			font-weight: 300;
		}
	}
	#morePress { 
		p {
			font-size: 1.2em;
		}
		h3 {
			font-weight: 900;
			letter-spacing: .15em;
		}
	}
	.prominentArticle {
		border-bottom: 1px dashed @green;
		margin-top: 40px;
		margin-bottom: 40px;
	}
}
#partners, #funders {
	p {
		text-align: center;
		img {
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			&:hover {
				-webkit-filter: grayscale(0%);
				-moz-filter: grayscale(0%);
				-o-filter: grayscale(0%);
				.transition(-webkit-filter 0.4s);
				.transition(-moz-filter 0.4s);
				.transition(-o-filter 0.4s);
			}
		}
	}
}

//-------------- PROJECTS PAGE ------------
#projects {
	margin-bottom: 160px;
	margin-top: 80px;
	.description {
		font-size: 1.2em;
		span {
			font-weight: 700;
		}
	}
	h3 {
		text-align: center;
	}
	.picture {
		text-align: center;
		img {
			border-radius: 96px;
			border: 4px solid @greenLightest;
		}
	}
}
//modifications of original boostrap
h1,h2,h3 {
	line-height: @baseLineHeight;
	color: @green;
	font-weight: 100;
}
p {
	font-size: 1.4em;
	font-weight: 300;
}
a {
	font-weight: 700;
	font-size: .9em;
	letter-spacing: .1em;
	&:hover {
		text-decoration: none;
	}
}
.btn {
	color: @white;
	text-shadow: none;
	font-weight: 700;
	letter-spacing: .1em;
	&:hover {
		color: @white;
	}
}

//padding so when anchor links jump they start at top
.anchor {
	padding-top: 80px;
}