* {
	.box-sizing();
}
//ADJUST NAV FOR BIGGER SIZE
.navbar .nav {
	margin-top: 12px;
}
.navbar .btn,
.navbar .btn-group {
  .navbarVerticalAlign(0px); // Vertically center in navbar
  background: @grayDark;
  &:hover {
  	background: @gray;
  }
}

@media (min-width: 768px) {
	//show dropdown on hover
	ul.nav li.dropdown:hover ul.dropdown-menu {
	    display: block;
	    top: 99%;
	}
	.navbar {
		border-bottom: 1px solid @gray;
		// box-shadow: 0 2px 8px 0 rgba(50,50,50,0.15);
	}
}

@media (max-width: 1040px) {
	.tagline {
		display: none;
	}
}

.btn {
	border: none;
}

@media (max-width: 767px) {
	.nav li {
		text-align: center;
	}
	.navbar-static-top {
		margin: 0;
	}
}

//toggle branding image from gray to color
.navbar .brand {
	padding: 10px;
	img {
		-webkit-filter: grayscale(0%);
		&:hover {
			-webkit-filter: grayscale(100%);
			.transition(-webkit-filter 0.5s);
		}
	}

}

.tagline {
	float: right;
	font-weight: 100;
	letter-spacing: .1em;
	font-size: .9em;
	margin: 31px 0 0 0;
	color: @gray;
}

//custom mixins
.box-sizing() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

//disable the triangle on the dropdown
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before {
  content: none;
}

//fixed margins and padding for dropdown menu
.dropdown-menu {
	padding: 0;
	margin: -10px 15px;
	// border: 2px solid @grayDark;
	background: @gray;
	border: none;
	li > a { 
		padding: 10px 20px;
		color: @white;
	}
}

#blog {
	ul li {
		list-style: none;
		margin: 20px 0 40px 0;
	}
	iframe {
		width: 80%;
		max-width: 640px;
		min-width: 300px;
	}
	h4 {
		color: @headerColor;
		font-size: 1.8em;
		font-weight: 800;
		text-align: center;
		line-height: 1;
		margin: 10px;
	}
	.date {
		text-align: center;
		color: @grayLight;
	}
}

//---------- foooter -----------
#footer {
	background: @greenDarker;
	color: @white;
	text-align: center;
	h3 {
		margin: 20px 0 5px 0;
		line-height: 1;
		color: @greenLighter;
	}
	p {
		margin: 5px;
	}
	i  {
		padding: 10px;
	}
	.social p {
		font-size: 1em;
		margin: 10px;
		span {
			font-weight: 700;
			color: @greenLighter;
		}
	}
}
// ---------------- ABOUT PAGE ------------
#mission {
	width: 100%;
	background: @greenDarker;
	.missionBody {
		min-width: 320px;
		max-width: 960px;
		width: 85%;
		margin: 35px auto;
		p {
			font-weight: 100;
		}
		h1,h2,h3 {
			color: @greenLighter;
		}
		color: @greenLightest;
		.bigIdea {
			font-size: 2.2em;
			font-weight: 100;
			a {
				color: @white;
				font-weight: 300;
			}
		}
	}	
}
#people {
	margin-top: 20px;
	.person {
		margin-bottom: 20px;
		p {
			text-align: center;
			font-size: 1em;
		}
		p:nth-child(2) {
			font-weight: 700;
			color: @grayDark;
		}
		.collapse {
			p {
				text-align: left;
				color: @gray;	
			}
			p:nth-child(2) {
				text-align: center;
			}
		}
	}
	.headshot {
		border-radius: 96px;
		border: 4px solid @greenLightest;
		cursor: pointer;
	}
	.trigger {
		cursor: pointer;
	}

}

//modifications of original boostrap
h1,h2,h3 {
	line-height: @baseLineHeight;
	color: @green;
}
p {
	font-size: 1.4em;
	font-weight: 300;
}
a {
	font-weight: 700;
	font-size: .9em;
	letter-spacing: .1em;
	&:hover {
		text-decoration: none;
	}
}
.btn {
	color: @white;
	text-shadow: none;
	font-weight: 700;
	letter-spacing: .1em;
	&:hover {
		color: @white;
	}
}